*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    padding: 0px;
    background-color: #E0DDAA;
    /* background-image:url(./bg.jpg); */
    /* background-image: */
    /* linear-gradient(to bottom, rgba(176, 183, 225, 0.52), rgba(135, 218, 229, 0.23)), */
    /* url('./bg.jpg'); */
    /* background-repeat: no-repeat; */
    /* background-attachment: fixed;
    background-size: 100% 100%; */
    /* background-blend-mode: darken; */

}

.toolbox-cont{
    height: 5rem;
    background-color: #141E27;
    display: flex;
    align-items: center;
    justify-content:space-around;
    position:fixed;
    width: 100vw;
    top:0px
}


.toolbox-priority-cont{
    
    height: 3rem;
    background-color: #EEEDDE;
    width: 18rem;
    margin-left: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 2px;
}

.action-btn-cont{
    background-color: #EEEDDE;
    height: 3rem;
    width: 10rem;
    margin-left: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 2px;
}
.nameTaken{
    color: white;
    font-size: 1.1rem;
    font-family: 'Roboto Flex', sans-serif;
    position: absolute;
  top: 2rem;
  right: 8rem;
  /* border: 2px solid red; */
}

.color{
    height: 1.5rem;
    width: 3rem;
}

.lightpink{
    background-color:lightpink;
}

.blue{
    background-color:lightblue
}

.green{
    background-color:lightgreen;
}
.black{
    background-color:black
}

.add-btn{
    font-size: 1.5rem;
}

.remove-btn{
    font-size: 1.5rem;
}
.name{
    /* background-color: black; */
    box-sizing: border-box;
    border: none;
    resize: none;
    outline:none;
    width: 15vw;
    background-color:#141E27;
    color: white;
    font-size: 1rem;
    font-family: 'Roboto Flex', sans-serif;
    /* padding-left: 20%; */
    /* padding-top: 3%; */
    text-align: center;
    padding-top: 3%;
    display: block;
}
.name::placeholder {
    color: rgb(255, 255, 255);
    font-family: 'Roboto Flex', sans-serif;
    font-size: 1.2rem;
  }

.nameTaken{
    display: none;
}
.modal-cont{
    position: absolute;
    left: 25vw;
    top:25vh;
    background-color: #EEEDDE;
    height: 50vh;
    width: 50vw;
    display: none;
}

.textarea-cont{
    outline:none;
    resize: none;
    border: none;
    background-color:#EEEDDE;
    height: 100%;
    width: 75%;
    font-size: 2rem;
    font-family: 'Roboto Flex', sans-serif;
    padding: 2rem;
    border-right: 2px solid #141E27;
}

.priority-color-cont{
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.priority-color{
    height: 3rem;
    width: 5rem;
}

.active{
    border: 5px solid #E0DDAA;
}

.main-cont{
    margin-top: 7rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 2rem; 
    margin-bottom: 2rem;
}

.ticket-cont{
    background-color: #EEEDDE;
    height: 10rem;
    width: 16rem;
}

.ticket-color{
    height: 1rem;
}

.ticket-id{
    font-family: 'Roboto Flex', sans-serif;
    height: 1.5rem;
    background-color: #EEEDDE;
    font-weight: 600;
    font-size: .9rem;
    color: #141E27;
    margin-left: 0.3rem;
    margin-top: 0.3rem;
}

.task-area{
    height: 5rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    font-size: 1.25rem;
    overflow: auto;
    outline: none;
    word-break: break-all;
}

.lock-unlock{
    font-size: 1.5rem;
    margin-left: 14.5rem;
}